@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #FFFFFF;
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8E6EE8;
}
